<link rel="stylesheet" href="{{ themePath }}/antd.min.css">
<link rel="stylesheet" href="{{ themePath }}/antd-theme.css">

<div class="sk-navbar-panel">

</div>
<div class="ant-drawer ant-drawer-left" style="" tabindex="-1">
    <div class="ant-drawer-mask" style=""></div>
    <div class="ant-drawer-content-wrapper" style="transform: translateX(-100%);">
        <div class="ant-drawer-content">
            <div class="ant-drawer-wrapper-body">
                <div class="ant-drawer-header">
                    <div class="ant-drawer-title"></div>
                </div>
                <div class="ant-drawer-body">

                </div>
            </div>
        </div>
    </div>
</div>
